layout {

    focus-ring {
        active-color   "#a9c8fd"
        inactive-color "#121317"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#a9c8fd"
        inactive-color "#121317"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#a9c8fd"
        inactive-color "#274775"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#a9c8fd80"
    }
}

recent-windows {
    highlight {
        active-color "#a9c8fd"
        urgent-color "#ffb4ab"
    }
}
