@import url("file:///home/syner/.cache/wal/colors-waybar.css");

* {
    font-family: "JetBrainsMono Nerd Font", sans-serif;
    font-size: 14px;
    font-weight: bold;
    border: none;
    border-radius: 0;
    min-height: 0;
    margin: 0;
    padding: 0;
}

window#waybar {
    background-color: transparent;
}

#cpu, #memory, #workspaces, #tray, #network, #pulseaudio, #backlight, #clock, #custom-power, #custom-wallpaper {
    background-color: @background;
    border-radius: 20px;
    padding: 4px 16px;
    margin-top: 4px;
    margin-bottom: 4px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

#cpu {
    color: @color6;
    margin-right: 8px;
}

#memory {
    color: @color6;
}

#battery {
    background-color: @background;
    color: @color6;
    border-radius: 20px;
    padding: 4px 16px;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 8px;
}

#workspaces button {
    color: @color5; 
    padding: 0 3px;
}

#workspaces button.active {
    color: @color6; 
}

#workspaces button:hover {
    background: @background;
}

#workspaces button.urgent {
    color: #eb6f92;
}

#tray {
    margin-right: 8px;
}

#network {
    color: @color6;
    margin-right: 8px;
}

#pulseaudio {
    color: @color6; 
    margin-right: 8px;
}

#backlight {
    color: @color6;
    margin-right: 8px;
}

#clock {
    color: @color6;
}

#custom-power {
    color: @color6;
    margin-left: 8px;
}

#custom-power:hover {
    color: #eb6f92;
}

#custom-wallpaper {
    color: @color6;
    margin-right: 8px;
    padding: 2 12px;
}

#custom-wallpaper:hover {
    color: #eb6f92;
}

