layout {{
    focus-ring {{
        width 2
        active-color "{color6}"
    }}

    border {{
        off
        width 2
        active-color "{color6}"
        inactive-color "{color8}"
    }}
}}
